body {
    text-align: center;
    font-size: 20px;
    padding: 2.5%;
    font-family: 'RobotoCondensed';
    background: #2d3436;
    color: #fff;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'EconomicaBold';
}

.bio-fade-out {
    opacity: 0;
    animation: fade-out 1.8s ease 0s infinite alternate backwards;
}

.bio-fade-in {
    opacity: 0;
    animation: fade-in 2.5s ease-in-out 0s infinite alternate-reverse forwards;
}



@keyframes fade-out {
    from {
        opacity: 100
    }

    to {
        opacity: 0
    }
}

@keyframes fade-in {
    from {
        opacity: 0
    }

    to {
        opacity: 100
    }
}
